a {
  color: #F4F4F4;
  text-decoration: none;
  size: 50px;
}

a.right {
 float: right; 
}

a:visited {
  color: #F4F4F4;
}

a:hover {
  color: #F4F4F4;
}

div.header {
  padding: 30px 30px 30px 30px;
  background: #C0B283;
  font-family: Montserrat, sans-serif;
}
