a {
  color: #F4F4F4;
  text-decoration: none;
}

a:visited {
  color: #F4F4F4;
}

a:hover {
  color: #F4F4F4;
}

a.left {
  float: left; 
}

a.right {
  float: right; 
}

div.header {
  padding: 30px 30px 30px 30px;
  background: #C0B283;
  size: 20px;
  font-family: Montserrat, sans-serif;
}
